extends layout

block content
  .index-block
    h1 Welcome to MembersOnly Page

    h3 Messages
    ul
      li
        h3 Title
        p Paragraph
        a(href='/login') Login to see who wrote that
      li
        h3 Title
        p Paragraph
        a(href='/login') Login to see who wrote that
      li
        h3 Title
        p Paragraph
        a(href='/login') Login to see who wrote that