extends layout

block content
  .index-block
    h1 Welcome to MembersOnly Page

    h3 Messages
    if result
    ul
      each val in result
        li
          h3= val.title
          p= val.detail
          a(href='/login') Login to see who wrote that