extends layout

block content
    .form-container
        .title <h1> Login Page </h1>
        .form
            form(method="POST" action='')
                .form-control
                    label(for='username') Username
                    input(type='text' name='username' required="true")
                .form-control
                    label(for='password') Password
                    input(type='text' name='password' required="true")
                button.btn Login