<%- include('includes/head.ejs') %>

<main>
    <div class="form-container">
        <div class="title">
            <h1>Login Page</h1>
        </div>
        <% if(errors){ %>
            <div class="errors">
                <%= errors[0].msg %>
            </div>
        <% } %>
        <form action="/login" method="POST">
            <div class="form-control">
               <label for="email">Email</label> 
               <input type="email" name="email" value="<%= data.email %>" required>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</main>

<%- include('includes/end.ejs') %>