@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;800;900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: #ded9d9;
}

.logo {
  font-size: 40px;
  font-weight: 800;
}

.links a {
  color: black;
  font-size: 20px;
  padding: 20px;
  transition: all 0.3s;
}

.links a:hover {
  color: white;
  background-color: black;
}

.active {
  background-color: rgb(116, 116, 116);
}

main {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.index-block {
  width: 100%;
}

.index-block > h1 {
  text-align: center;
}

.form-container {
  width: 100%;
}

.form-container .title {
  text-align: center;
}

.form {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.form-control label {
  margin-bottom: 10px;
}

.form-control input {
  border: none;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
  font-size: 24px;
  font-family: inherit;
}

.btn {
  font-size: 24px;
  padding: 10px 20px;
  color: white;
  background-color: black;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 20px 0 0 20px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.passworderror,
.emailerror {
  color: rgb(243, 74, 74);
  font-size: 16px;
}
